= link_to 'Back to Actors', actors_url
%h3= @actor.name
.col-xs-6.col-md-3
  .thumbnail
    - if @actor.thumbnail_url.present?
      %img{src: @actor.thumbnail_url}
    - else
      %img{src: image_url('avatar.png')}
  .appearing_in
    %h4 Appears in
    %ul.list-group
    - @actor.movies.each do |movie|
      %li.list-group-item
        = link_to movie.title, movie

.col-xs-6.col-md-3
  = link_to 'Edit', edit_actor_url(@actor), class: 'btn btn-primary'
  = link_to 'Delete', @actor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
