= form_for @movie do |f|
  %fieldset.form-group
    = f.label :title
    = f.text_field :title, size: 20, class: 'form-control'
  %fieldset.form-group
    = f.label :actor_ids, 'Actors'
    = collection_check_boxes(:movie, :actor_ids, @actors, :id, :name, class: 'form-control')
    = link_to 'Add an actor', new_actor_url
  = f.submit 'Create Movie', class: 'btn btn-primary'
